<h1> Restablecer Contraseña</h1>

<form action="/session/forget-password" method="post">
Email: <input type=" text" name="email">
<input type="submit" value="Restablecer contraseña">
 <a href="/">Login</a> | <a href="/register">Register</a>
</form>