<h1>Iniciar Sesion</h1>

<form action="/api/session/login" method="post">
Email: <input type="text" name="email"><br>
password: <input type="text" name="password">



<input type="submit" value="iniciar sesion"> |<a href="/api/session/github">Login with GitHub</a>

</form>