<h1> Crea una nueva Contraseña</h1>

<form action="/session/reset-password/{{user}}" method="post">
Nueva Contraseña: <input type="text" name="newPassword">
<input type="submit" value="Cambiar Contraseña">
<a href="/">Login</a> | <a href="/register">Register</a>
</form>