<h1>Lista de productos</h1>

<article id="list-products">


<h2>{{products.nombre}}</h2>
<p>{{products.stock}}</p>
<h4>{{products.precio}}</h4>
<p>{{products.descripcion}}</p>

</article>
<script src="/socket.io/socket.io.js"></script>
<script src="../public/js/realtime.js"></script>